<header>
  <div class="header-container">
    <div class="logo">
      <a routerLink="/">Legendary Motorsport</a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
        <li><a routerLink="/nosotros" routerLinkActive="active">Nosotros</a></li>
        <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
